<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluetag.wc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".WCApplication">

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <!-- [END fcm_default_channel] -->

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeSplash.Simple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--Groups-->
        <activity
            android:name=".activities.GroupListActivity"
            android:label="@string/title_group_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluetag.wc.MainActivity" />
        </activity>

        <activity
            android:name=".activities.GroupDetailActivity"
            android:label="@string/title_group_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Schedules-->
        <activity
            android:name=".activities.StagesListActivity"
            android:label="@string/title_stages_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluetag.wc.MainActivity" />
        </activity>

        <activity
            android:name=".activities.GroupDetailActivity"
            android:label="@string/title_group_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Stadiums-->
        <activity
            android:name=".activities.StadiumListActivity"
            android:label="@string/title_stadium_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluetag.wc.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StadiumDetailActivity"
            android:label="@string/title_stadium_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--Past Winner-->
        <activity
            android:name=".activities.PastWinnersListActivity"
            android:label="@string/title_past_winners"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluetag.wc.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PastWinnerDetailActivity"
            android:label="@string/title_past_winners"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--RSs Feed-->
        <activity
            android:name=".activities.RssFeedListActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluetag.wc.MainActivity" />
        </activity>

        <!--Mascot-->
        <activity
            android:name=".activities.MascotActivity"
            android:label="@string/title_stadium_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--Browser-->
        <activity
            android:name=".activities.BrowserActivity"
            android:label="@string/title_stadium_detail"
            android:theme="@style/AppTheme.NoActionBar">
            />
        </activity>
        <service android:name=".utils.TTSService" >
        </service>
        <service android:name=".jobs.NotificationService"
            android:exported="false"/>

        <receiver
            android:name=".utils.NotificationReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".fcm.FCMIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>